@import "fonts.css";

body {
    font-family: "Open Sans";
}

ul, li{
    display: block;
    margin: 0;
    padding: 0;
}

.menu-bar {
    background: #fff;
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: "Open Sans Semibold";
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}

/*Шапка*/

.header > div {
    text-align: center;
    color: white;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    background-image: url("../image/header.png");
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: .3s;
    background: #00897b;
    border: 2px solid #00897b;
}

.button:hover {
    background: transparent;
    border: 2px solid white;
}

.button_empty:hover,
.button_full:hover {
    border: 1px dotted white;
    background: #04574e;
    cursor: pointer;
}

/*О нас*/

.about {
    color: black;
    background: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 125px;
}

.about__section {
    margin-bottom: 110px;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
    color: #212121;
    font-size: 15px;
    margin-bottom: 110px;
}

.about__h3 {
    font-family: "Open Sans Semibold";
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*Наши услуги*/

.services {
    color: black;
    background: #e4fdf9;
    text-align: center;
    padding-top: 165px;
    padding-bottom: 125px;
}

.our_card {
    background: white;
    padding: 50px 25px 40px;
    transition: .3s;
    margin-bottom: 30px;
}

.our_card:hover {
    background: #00897b;
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, .26);
}

.our_card:hover .icon, .our_card:hover .services__text {
    color: white;
}

.our_card:hover .button-services {
    border: 2px solid white;
    color: white;
}

.icon {
    transition: .3s;
    font-size: 60px;
    color: black;
}

.button-services {
    transition: .3s;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    background: transparent;
    padding: 10px 12px;
    font-family: "Open Sans Semibold";
}

.button-services:hover {
    cursor: pointer;
}

/*Портфолио*/

.portfolio {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 135px;
}

.portfolio button:hover {
    color: black;
}