<!-- навиагация по страницам верстки / удалить на продакшене-->
#pages-22.pages
	#toogle-23.pages-header
		p Навигация страниц верстки
		span GP
		i#close-24.icon-pages
	ul
		li: a(href="./") Главная
		li: a(href="ui.html") ui
script.
	$('#toogle-23').on('click', function(event) {
		event.preventDefault();
		/* Act on the event */
		$('#pages-22').toggleClass('open');
	});