.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-next {
	font-size:(40.7/10)*1rem;
	width:(22.1/40.7)*1em;
}
.icon-prev {
	font-size:(40.7/10)*1rem;
	width:(22.1/40.7)*1em;
}
