include variables

section.about
    .container
        .row.justify-content-center
            .col-xl-8.about__section
                h2.about__title About Us
                p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda id laboriosam saepe voluptate. Accusantium!
        .row.justify-content-around
            each val, index in about_image
                .col-xl-3
                    img(src="images/" + about_image[index] + ".png"
                        alt= about_image[index]
                    )
                    h3.about__h3 #{about_h3[index]}
                    p.about__text #{about_text[index]}
