// footer
footer.footer#contact
	.container
		.row.justify-content-center
			.col-xl-8
				h2.about__title Contact Us
				p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		.row.justify-content-around
			each val, index in footer_icons
				.col-xl-3.col-md-6
					.circle
						i(class="fas fa-" + footer_icons[index])
					p
						|#{footer_data[index]} <br> 
						|#{footer_data2[index]}
		.row.justify-content-center.form
			.col-xl-5
				input(type="name" placeholder="Your Name")
			.col-xl-5
				input(type="email" placeholder="Your Email")
			.col-xl-10
				textarea(cols="30" rows="10" placeholder="Write Message")
			.col-xl-2.offset-xl-7
				button Send
footer.rules All rights Reserved © 2019`