- var menu= ['Home', 'About', 'Servicing', 'Portfolio', 'Blog', 'Contact Us']
- var menu_link= ['#', '#', '#', '#', '#', '#']
- var about_image= ['internet', 'transfer', 'head']
- var about_h3= ['Awesome Icons', 'One Page', 'Fully Responsive']
- var about_text= ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eveniet in laboriosam nam nobis odio.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio enim laborum natus necessitatibus officia repudiandae!', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.']
- var icon= ['fa-search', 'fa-images', 'fa-question' , 'fa-book' , 'fa-code' , 'fa-pencil-alt']
- var services_h3= ['Research', 'Portfolio' , 'Support' , 'Documentation' , 'Development' , 'Design']
- var services_text= ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.']
- var services_button= ['Read more', 'Read more', 'Read more', 'Read more', 'Read more', 'Read more']
- var portfolio_button= ['Web design', 'Ui/Ux design', 'Mockups']
- var portfolio_image= ['item1', 'item2', 'item3', 'item4', 'item5', 'item6']
- var portfolio_button_filter= ['wd', 'moc', 'wd', 'moc', 'ud', 'ud']
- var portfolio_text= ['Web design', 'Mockups','Web design', 'Mockups', 'Ui/Ux Design', 'Ui/Ux Design']
- var portfolio_h5= ['Hand Watch', 'One Day Pass', 'Modal T-shirt', 'Flash', 'Eplemost', 'The kitchens']
- var pricing_title= ['Free Trail', 'Basic', 'Ultimates']
- var pricing_price= ['00', '50', '99']
- var pricing_body= ['30 Free Trail', '5 Free Projects', 'PHP 5 Enabled', '24/7 Suports']
- var team_name= ['John Doe', 'Alexa Biru', 'Ronobir sing', 'John Doe', 'John Doe']
- var team_position= ['General Manager', 'Office Director', 'Admin', 'General Manager', 'General Manager']
- var team_image= ['team1', 'team2', 'team3', 'team1', 'team1']
- var team_icons= ['vk', 'facebook', 'twitter', 'instagram']
- var blog= ['left', 'right', 'left']
- var blog_image= ['blog1', 'blog2', 'blog3']
- var footer_icons= ['map-marker-alt', 'phone fa-rotate-90', 'envelope']
- var footer_data= ['Nobinagar savar,', '+8801743331996', 'quickmasud@gmail.com']
- var footer_data2= ['Dhaka Bangladesh', '8801928737807', 'quickmasud@yahoo.com']