
/*----------------------------------------
	COLLAPSE
----------------------------------------*/
.collapse{
	width: 100%;
}
.collapse-header{
	position: relative;
	width: 100%;
	cursor: pointer;
	padding: 10px 0px;
	.icon-angel-down{
		position: absolute;
		right: 0;
		top:50%;
		width:20px;
		transform:translateY(-50%);
		transition:all .5s ease;
	}
	&.clicked{
		.icon-angel-down{
			&:before {
				transform: rotate(312deg);
				transition:all .5s ease;
			}
		}
	}
}
.icon-angel-down{
	display:inline-block;
	color: #4d4d4d;//color for arrow
	&:before {
		content: '';
		position: absolute;
		left: -5px;
		top: -5px;
		width: 10px;
		height: 10px;
		border-top: solid 1px currentColor;
		border-right: solid 1px currentColor;
		-webkit-transform: rotate(135deg);
						transform: rotate(135deg);
		transition:all .5s ease;
	}
}
.collapse-panel{
	display: none;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: #f8f8f8;
	&.active{
		display: block;
	}
}
/* end collapse */
