//pagination
nav
	ul.pagination.clearfix
		li.pagination-arrow.disabled
			a(href="#") <
		li.active 1
		li
			a(href="#") 2
		li
			a(href="#") 3
		li
			a(href="#") ...
		li
			a(href="#") 18
		li.pagination-arrow
			a(href="#") >
