- var menu= ['Home', 'About', 'Servicing', 'Portfolio', 'Blog', 'Contact Us']
- var menu_link= ['#', '#', '#', '#', '#', '#']
- var about_image= ['internet', 'transfer', 'head']
- var about_h3= ['Awesome Icons', 'One Page', 'Fully Responsive']
- var about_text= ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eveniet in laboriosam nam nobis odio.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio enim laborum natus necessitatibus officia repudiandae!', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.']
- var icon= ['fa-search', 'fa-images', 'fa-question' , 'fa-book' , 'fa-code' , 'fa-pencil-alt']
- var services_h3= ['Research', 'Portfolio' , 'Support' , 'Documentation' , 'Development' , 'Design']
- var services_text= ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, est et exercitationem officia soluta ut.']
- var services_button= ['Read more', 'Read more', 'Read more', 'Read more', 'Read more', 'Read more']
- var portfolio_button= ['Web design', 'Ui/Ux design', 'Mockups']
- var portfolio_image= ['item1', 'item2', 'item3', 'item4', 'item5', 'item6']
- var portfolio_button_filter= ['wd', 'ud', 'moc']