<!DOCTYPE html>
html(lang="ru")
	include ../global/head
	+head(
		'Сайт | Главная страница'
	)
	include ../mixin/all-mixin
	body
		include ../global/header
		//- wrapper
		.wrapper
		include ../global/footer
		include ../global/scripts
		include ../references/pages