<!DOCTYPE html>
html(lang="ru")
	include ../global/head
	+head(
		'Сайт на Bootstrap 4 + BEM'
	)
	body
		include ../global/header
		include ../global/about
		include ../global/services
		include ../global/portfolio
		include ../global/pricing
		include ../global/team
		include ../global/blog
		include ../global/footer
		include ../global/scripts